@mixin team_logo {
    position: relative;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: white;

    border-radius: 50%;
    border: 5px solid gray;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%,-50%);
    }
}

@mixin popper {
    #arrow,
    #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
    }

    #arrow::before {
    content: '';
    transform: rotate(45deg);
    background: white;
    }

    #login_form[data-popper-placement^='top'] > #arrow {
        bottom: -4px;
    }

    #login_form[data-popper-placement^='bottom'] > #arrow {
        top: -4px;
    }

    #login_form[data-popper-placement^='left'] > #arrow {
        right: -4px;
    }

    #login_form[data-popper-placement^='right'] > #arrow {
        left: -4px;
    }
}