@import "./mixins";
@import "./header";
@import "./search_div";
@import "./sidebar";

body {
    background-color: black;
    /* height: 100%; */
    margin: 0;
}
/* html {
    height: 100%;
}
 */
#background {
    background-image: url(../bg.jpg);
    background-size: cover;
    transform: scale(1.02);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -50;
    display: block;
    filter: brightness(50%) blur(5px);
}

#top_body {
    display: flex;
    margin: 8px;
    /* height: 100%; */
}

#right {
    flex: 1;
}

#upcoming_matches{
    color: white;
}


